<div class="panel-body section-padding">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Int. Error Classification</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.intErrorClassification = $event' [selectedItem]='intErrorClassification'></app-dropdown>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Sub Category</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.subCategory = $event' [selectedItem]='subCategory'></app-dropdown>
          </div>
        </div>
      </div>
      
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Security</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.security= $event' [value]='security' name='control'></app-input-text-area>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Eligible For the Trade Error Account</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.eligibleforTradeError = $event' [selectedItem]='eligibleforTradeError'></app-dropdown>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Trade Date</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-calender id="calender" class="calWidth" (calenderSelected)='this.tradeDate = $event' showIcon='true' yearNavigator='true'
              monthNavigator='true' yearRange='2000:2030' [inputDate]='tradeDate'></app-calender>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">If No or NA Please Explain</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.noOrNa= $event' [value]='noOrNa' name='control'></app-input-text-area>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Client Notified</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.clientNotified = $event' [selectedItem]='clientNotified'></app-dropdown>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">NAV Reviewed by Appropriate Parties</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.navReviewed = $event' [selectedItem]='navReviewed'></app-dropdown>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Settlement Date</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-calender id="calender" class="calWidth" (calenderSelected)='this.settlementDate = $event' showIcon='true' yearNavigator='true'
              monthNavigator='true' yearRange='2000:2030' [inputDate]='settlementDate'></app-calender>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-xs-3">
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Basis Point Impact</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-input (inputTextSelected)='this.basicPointImpact = $event' #inputbasicPointImpact [value]='basicPointImpact' maxlength="60"></app-input>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="control-label">Date Receivable Recorded to Fund</label>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <app-calender id="calender" class="calWidth" (calenderSelected)='this.dateReceivable = $event' showIcon='true' yearNavigator='true'
              monthNavigator='true' yearRange='2000:2030' [inputDate]='dateReceivable'></app-calender>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <app-button (click)="saveData()" label="Search" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
  <br><br>
</div>