<div class="panel panel-default maindivmargin">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
      <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
  </div>
  <div class="panel-heading section-padding">
    <h3 *ngIf="!isEdit" class="panel-title">Add Issue Tracker Groups</h3>
    <h3 *ngIf="isEdit" class="panel-title">Modify Issue Tracker Groups</h3>
  </div>

  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-4">
        
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Group Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.groupName = $event' #inputgroupName [value]='groupName' maxlength="60"></app-input>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Department ID</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.departmentId = $event' [selectedItem]='departmentId'></app-dropdown>
            </div>
          </div>
        </div>
       
      </div>
      <div class="col-lg-4 col-md-4 col-xs-4">
         <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Falg Active</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.flagActive = $event' [selectedItem]='flagActive'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Email Lists</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input (inputTextSelected)='this.emailLists = $event' #inputemailLists [value]='emailLists' maxlength="60"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row addCheckListButtons">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <app-button (click)="saveData()" label="Search" styleClass='button-action'></app-button>
      <app-button (click)="resetAll()" label="Clear All" styleClass='button-action'></app-button>
    </div>
  </div>
</div>