  <div class="panel-body section-padding">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Resolution Date</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-calender id="calender" class="calWidth" (calenderSelected)='this.resolutionDate = $event' showIcon='true' yearNavigator='true'
                monthNavigator='true' yearRange='2000:2030' [inputDate]='resolutionDate'></app-calender>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.description= $event' [value]='description' name='control'></app-input-text-area>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Control Suggestion</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.controlSuggestion = $event' [selectedItem]='controlSuggestion'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Resolution</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.resolution= $event' [value]='resolution' name='control'></app-input-text-area>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Action Complete</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.actionComplete = $event' [selectedItem]='actionComplete'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Notes</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-input-text-area rowSize='6' (inputTextAreaSelected)='this.notes= $event' [value]='notes' name='control'></app-input-text-area>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-lg-3 col-md-3 col-xs-3">
         <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Issue Relates to Control(s)</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.issuerelatetocontrol = $event' [selectedItem]='issuerelatetocontrol'></app-dropdown>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Automate Opportunity</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.automateOpportunity = $event' [selectedItem]='automateOpportunity'></app-dropdown>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <label class="control-label">Enhancement</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.enhancement = $event' [selectedItem]='enhancement'></app-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
